version: '3.9'

services:

  nginx:
    image: nginx:latest
    container_name: nginx-wp
    ports:
      - "8888:80"
    volumes:
      - ./wordpress:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - wpnet

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-wp
    volumes:
      - ./wordpress:/var/www/html
    working_dir: /var/www/html
    networks:
      - wpnet

  mysql:
    image: mysql:8.0
    container_name: mysql-wp
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppass
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wpnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma-wp
    depends_on:
      - mysql
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
    networks:
      - wpnet

volumes:
  db_data:

networks:
  wpnet:
